.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: rgba(160, 126, 126, 0.267);
    padding: 10px;
}

.grid-item {
    background-color: rgba(248, 16, 16, 0.932);
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: #fff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.centered {
    justify-content: center;
}

.active {
    background-color: rgba(20, 20, 20, 0.842);
}

.title {
    text-align: center;
    width: 100%;
}

.btn {
    background-color: #f44336;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer
}

.btn:hover {
    background-color: #8a0900;
}