  .vertical-menu {
      width: 100%;
  }

  .vertical-menu a {
      background-color: #eee;
      color: black;
      display: block;
      padding: 12px;
      text-decoration: none;
  }

  .vertical-menu a:hover {
      background-color: #ccc;
  }
  .title{
      text-align:center;
  }